* {
  box-sizing: border-box;
  padding: 0.3rem;
}

body {
  background-image: url('bg-splash.jpg');
  background-position: bottom right;
  background-size: cover;
}

#output {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 360px;
  height: 210px;
  margin: 8px;
}

#recording {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#gallery {
  display: flex;
  overflow: auto;
  white-space: nowrap;
}

#previous-attempt {
  background-color: black;
  display: inline-block;
  padding: 0;
}

/* Style for assignments on /my-assignments */
#assgn {
  /* background-color: black; */
  display: inline-block;
  padding: 0;
  /* Typeface color won't update */
}

#skeleton {
  width: 640px;
  height: 360px;
  background-color: black;
  border-radius: 5px;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

#navbar {
  background-color: white;
  position: fixed;
  padding: 0px;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  z-index: 999;
  /* margin-bottom: 5rem; */
}

#routines {
  display: flex;
  flex-wrap: wrap;
}

/* .top {
  margin-top: 5rem;
} */

html,
body,
#app {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0px !important;
}

#auth {
  /* position: relative;
  left: 20vw; */
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 40vw;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: #fff;
  margin: 0px;
  margin-top: 75px;
  padding-top: 0px;
  height: 100%;
}

.item-container {
  padding: 0px;
  height: inherit;
}

#container > div {
  padding: 0px;
}

#team {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  box-shadow: none;
  border: none;
}

#choreo {
  height: 100vh;
}

#sidebar-container {
  padding: 0px;
}

#sidebar {
  margin-top: 25px;
  height: 100%;
  width: 18.75%;
  border: none;
  box-shadow: none;
  padding: 0 !important;
  position: fixed;
}

#sidebar .item {
  font-size: 17px !important;
  padding: 1.5rem;
}

#sidebar > div {
  padding: 0px;
}

#team-names {
  font-size: 20px;
  padding: 0px;
}

#add-team {
  padding: 0.5em;
}

#record-button {
  position: fixed;
  right: 54px;
  bottom: 54px;
}

#calibrator {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

video {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}
